<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Quinta S. Antonio{% endblock %}</title>
        {% block stylesheets %}
          <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
          <link rel="stylesheet" href="/css/print.css">
        {% endblock %}
    </head>
    <body>
      {% set counter = 0 %}

      {% for index,mesa in mesas %}
        {% if index % 2 == 0 and counter == 0 %}
          <page size="A4">
        {% endif %}
        <div class="row text-center">
          <div style="width:15cm;height:10cm;border:dotted 2px green;">
            <h1 style="padding: 0;">  {{ mesa.type }}{{ mesa.name}}</h1>
            <img src="{{ qrcode_url(absolute_url(path('mesa', {'id': mesa.id, 'type' : mesa.type|lower}))) }}" class="img-responsive" style="argin: -5px auto;" />
          </div>
        </div>
        {% set counter =  counter  + 1 %}  
        {% if counter == 2 %}   
          {% set counter =  0 %}  
          </page>
        {% endif %}
      {% endfor %}
    </body>
</html>
