{% extends 'base.html.twig' %}

{% block body %}


    <div class="content">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
            <div class="row">
                  <div class="col-md-6 text-center" style="margin-bottom:20px;">
                        <a href="{{ path('estufa', { 'type' : 'ana'}) }}" ><span class="glyphicon glyphicon-home" style="font-size:50px;" aria-hidden="true"></span></a>
                        <h3>A</h3>
                    </div>
                  <div class="col-md-6 text-center" style="margin-bottom:20px;">
                    <a href="{{ path('estufa', { 'type' : 'catarina'}) }}" ><span class="glyphicon glyphicon-home" style="font-size:50px;" aria-hidden="true"></span></a>
                    <h3>B</h3>
                    </div>
                </div>
      </div>
</div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
