.mesa {
	height:100px;
	background-color: white;
	margin-bottom:10px;
	padding:20px;
}
.mesa a{
	color:#333;
}
.mesa-produtos{
	background-color: #a94442!important;
}
.mesa-espera{
	background-color: #468847 !important;
}
.breadcrumb{
	top:50px;
	position: fixed;
    right: 0;
    left: 0;
    margin-bottom: 20px;
}
.content{
	margin-top: 120px;
}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

form li {
	list-style: none;
}
form .collection-box{
	border-top: 1px solid #b5aeae;
   	padding: 20px;	
}
