.mesa {
	height:100px;
	background-color: white;
	margin-bottom:10px;
	padding:20px;
}
.mesa a{
	color:#333;
}
.mesa-produtos{
	background-color: #a94442!important;
}
.mesa-espera{
	background-color: #468847 !important;
}
.breadcrumb{
	top:50px;
	position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 20px;
}
.content{
	margin-top: 120px;
}